@charset "UTF-8";

/* 지방선거 Area Start */
.orange {color: #f2321b;}
.purple {color: #5d3bbc;}
.blue {color: #0c91ea;}
.party_thumin {background: #227EC8; color: #fff;}
.party_liberty {background: #C9171E; color: #fff;}
.party_bareun {background: #03B8BA; color: #fff;}
.party_peace {background: #78B600; color: #fff;}
.party_justice {background: #FFCB05; color: #000;}
.party_no {background: #7F8189; color: #fff;}
.party_etc {background: #AFB1BD; color: #000;}
.party_minjung {background: #f47920; color: #fff;}
.party_gkpp {background: #113066; color: #fff;}
.party_kgreens {background: #62bb47; color: #fff;}
.party_ourfuture {background: #e60063; color: #fff;}
.party_gokr {background: #fff; color: #000;}
.party_newpolitics {background: #0c449b; color: #fff;}
.vote-body-result .result-cont {width: 1200px; margin: 0 auto; position: relative;}
.vote-body-result .wrap-open .now-map {padding: 25px 25px 30px; border: 1px solid #dddee4; border-top: none; /*background: #eeeaf7;*/ overflow: hidden; position: relative;}
.vote-body-result .wrap-open .now-map h4 {font-size: 18px; font-family: "Nanum Gothic Bold"; line-height: 30px; color: #000;}
.vote-body-result .wrap-open .now-map h4 .border {border-top: 2px solid #000; display: inline-block;}
.vote-body-result .wrap-open .now-map h4 span {display: inline-block; margin-left: 5px; font-size: 12px; color: #333333;}
.vote-body-result .wrap-open .now-map .wrap-button {position: absolute; top: 23px; right: 8px; overflow: hidden;}
.vote-body-result .wrap-open .now-map .wrap-button li {float: left; padding-right: 10px; margin-right: 10px; cursor: pointer;}
.vote-body-result .wrap-open .now-map .button-tooltip {background: url(https://vote2018.imbc.com/images/icon-my-area-of-interest-on.png) left center no-repeat; padding-left: 19px; font-size: 14px; font-family: "Nanum Gothic Bold"; color: #5c279c;}

/*개표현황 - 지도*/
.vote-body-result .wrap-open .now-map .vote-map {width: 586px; float: left; margin-top: 20px; padding-left: 2px; position: relative;}
.vote-area, .vote-area-gu {position: absolute; top: -80px; left: -27px; width: 520px}
.vote-body-result .wrap-open .vote-area-items {font-size: 11px; color: #000; font-family: "Nanum Gothic Bold";}
.vote-body-result .wrap-open .vote-area-items .btn-default {display: inline-block; padding: 0 4px; line-height: 18px; font-family: "Nanum Gothic Bold"; color: #000;}
.vote-body-result .wrap-open .vote-area-items .btn-default:hover {text-align: center; background: #6a2fb2; color: #fff; font-weight: normal;}
.vote-body-result .wrap-open .vote-area-items-all .btn-default:hover {background: url(https://vote2018.imbc.com/images/map-korea.png) no-repeat;}
.vote-body-result .wrap-open .area-gu-items .area-gu {display: inline-block; padding: 0 3px; line-height: 18px;}
.vote-body-result .wrap-open .area-gu-items .area-gu:hover {text-align: center; background: #6a2fb2; color: #fff; font-weight: normal;}
.vote-body-result .wrap-open .now-map .vote-map .party-color {width: 440px; overflow: hidden; margin-top: 20px;}
.vote-body-result .wrap-open .now-map .vote-map .party-color li {width: 110px; float: left; line-height: 18px; margin-bottom: 12px; font-size: 14px;}
.vote-body-result .wrap-open .now-map .vote-map .party-color .square {width: 18px; height: 18px; margin-right: 8px; display: inline-block; vertical-align: middle;}
.vote-body-result .wrap-open .vote-area-items-all .vote-area-items-body {display: none;}
.vote-body-result .wrap-open .vote-area-dong h4 {margin-bottom: 20px;}
.vote-body-result .wrap-open .vote-area-dong h4 .border {display: inline-block; border-top: 2px solid #000;}
.vote-body-result .wrap-open .area-dong-body {overflow: hidden; margin-bottom: 33px;}
.vote-body-result .wrap-open .area-dong-body li button {float: left; width: 85px; margin: 0 8px 4px 0; border: 1px solid #9a9a9a; font-size: 12px; color: #333333; line-height: 31px; text-align: center; background: #fff; font-family: "Nanum Gothic Bold";}
.vote-body-result .wrap-open .area-dong-body li button.active {color: #5c279c; font-size: 12px; font-family: "Nanum Gothic Bold"; border: 1px solid #5c279c;}

/*출구조사*/
/*선거별 순위*/
.vote-body-result .wrap-rank .rank-cont .rank-inner > ul > li {height: 461px; float: left; position: relative; width: 365px; margin: 0 25px 20px 0; padding: 0 23px 23px; border: 1px solid #dddee4;}
.vote-body-result .wrap-rank .rank-cont .rank-inner > ul > li:nth-child(3n) {margin-right: 0;}
.vote-body-result .wrap-rank .rank-cont h3 {padding: 20px 0 10px 0; text-align: center; font-size: 16px; color: #000000;}
.vote-body-result .wrap-rank .rank-cont .candidate-rival {overflow: hidden; text-align: center; padding-top: 24px; position: relative;}
.vote-body-result .wrap-rank .rank-cont .gap {position: absolute; top: 26px; left: 50%; width: 80px; margin-left: -40px; text-align: center; font-family: "Nanum Gothic Bold"; font-size: 12px;}
.vote-body-result .wrap-rank .rank-cont .gap span {font-family: "Nanum Gothic"; font-size: 11px;}
.vote-body-result .wrap-rank .rank-cont .badge {position: absolute; top: 0; left: 0; z-index: 10;}
.vote-body-result .wrap-rank .rank-cont .badge01 {position: absolute; left: 23px; z-index: 10; top: 51px;}
.vote-body-result .wrap-rank .rank-cont .badge02 {position: absolute; top: 250px; left: 161px; z-index: 10;}
.vote-body-result .wrap-rank .rank-cont .rival-l {float: left; width: 120px; position: relative; margin-bottom: 8px;}
.vote-body-result .wrap-rank .rank-cont .rival-r {float: right; width: 120px; position: relative; margin-bottom: 8px;}
.vote-body-result .wrap-rank .rank-cont .img {display: inline-block; margin-bottom: 10px; position: relative; overflow: hidden; width: 120px; height: 159px; overflow: hidden; background: url(https://vote2018.imbc.com/images/img-candi-default.jpg) no-repeat;}
.vote-body-result .wrap-rank .rank-cont .img .jd {width: 77px; height: 33px; top: 128px; left: 0;}
.vote-body-result .wrap-rank .rank-cont .rival-r .img .jd {position: absolute; top: 128px; left: 43px;}
.vote-body-result .wrap-rank .rank-cont .img img {width: 120px;}
.vote-body-result .wrap-rank .rank-cont .wrap-rate .candi-name {font-size: 18px; color: #21232a; font-family: "Nanum Gothic Bold"; display: inline-block; margin-bottom: 8px;}
.vote-body-result .wrap-rank .rank-cont .wrap-rate .candi-num {color: #606060; font-size: 14px;}
.vote-body-result .wrap-rank .rank-cont .wrap-rate .data-rate {display: inline-block; margin: 0 0 10px 0; font-size: 32px; font-family: 'arial'; font-weight: bold; padding-right: 19px; background: url(https://vote2018.imbc.com/images/percent.png) right 6px no-repeat; line-height: 24px; color: #21232a;}
.vote-body-result .wrap-rank .rank-cont .wrap-rate .data-number {color: #606060;}
.vote-body-result .wrap-rank .rank-cont .wrap-rate .data-number span {color: #333; font-family: "Nanum Gothic Bold";}
.vote-body-result .wrap-rank .rank-cont .graph {width: 50px; height: 160px;}
.vote-body-result .wrap-rank .rank-cont .rival-l .graph {position: absolute; right: -64px; bottom: -81px;}
.vote-body-result .wrap-rank .rank-cont .rival-r .graph {position: absolute; left: -34px; bottom: -81px;}
.vote-body-result .wrap-rank .rank-cont .graph .vert {position: relative;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li {position: relative; width: 20px; height: 160px; float: left;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li:first-child {margin-right: 9px;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar {display: block; background: #435e9c; position: absolute; bottom: 0; left: 0; width: 20px; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both;}
.vote-body-result .wrap-rank .rank-cont .rival-r .graph .vert .bar {background: #774fd1;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_thumin {border: 1px solid #227ec8; background: #227EC8;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_liberty {border: 1px solid #c9171e; background: #C9171E;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_bareun {border: 1px solid #03b8bb; background: #03B8BA;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_peace {border: 1px solid #78b600; background: #78B600;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_justice {border: 1px solid #ffcb05; background: #FFCB05;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_minjung {border: 1px solid #f47920; background: #f47920;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_gkpp {border: 1px solid #113066; background: #113066;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_kgreens {border: 1px solid #62bb47; background: #62bb47;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_ourfuture {border: 1px solid #e60063; background: #e60063;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_gokr {border: 1px solid #ef383d; background: #ef383d;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_newpolitics {border: 1px solid #0c449b; background: #0c449b;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_etc {border: 1px solid #888; background: #AFB1BD;}
.vote-body-result .wrap-rank .rank-cont .graph .vert li .bar.party_no {border: 1px solid #888; background: #7F8189;}
.vote-body-result .wrap-rank .rank-cont .else {width: 316px; line-height: 37px; border: 0; border-bottom: 1px solid #dddee4; margin: 0; padding: 0; color: #21232a; overflow: hidden;}
.vote-body-result .wrap-rank .rank-cont .rival-r + .else {border-top: 1px solid #dddee4;}
.vote-body-result .wrap-rank .rank-cont .else .candi-num {color: #606060;}
.vote-body-result .wrap-rank .rank-cont .else .else-left {float: left; width: 185px; overflow: hidden; text-align: left;}
.vote-body-result .wrap-rank .rank-cont .else .else-left .jd, .vote-body-result .wrap-rank .rank-cont .else .else-left .candi-name {font-family: "Nanum Gothic Bold"; font-size: 13px;}
.vote-body-result .wrap-rank .rank-cont .else .else-right {float: right; font-size: 12px; color: #333333;}
.vote-body-result .result-cont .rate-interest {position: relative;}
.vote-body-result .result-cont .rate-interest h3 {padding: 0 26px; font-size: 18px; font-family: "Nanum Gothic Bold"; color: #000; line-height: 63px; border-bottom: 1px solid #dddee4; position: relative;}
.vote-body-result .rate-interest .q-detail {position: absolute; top: 22px; left: 164px;}
.vote-body-result .popup-area-of-interest .button-close {width: 14px; height: 14px; text-indent: -9999px; overflow: hidden; top: 20px; right: 18px;}
.vote-body-result .popup-area-of-interest .button-close:before {width: 14px; height: 14px; background: url(https://vote2018.imbc.com/images/interest-x.png);}
.vote-body-result .btn-interest {position: absolute; right: 26px; top: 26px;}
.vote-body-result .popup-area-of-interest {top: -1px; border: 1px solid #8f6bda; width: 586px; right: 0;}
.vote-body-result .popup-area-of-interest .popup-header {line-height: 55px; height: 56px; background: url(https://vote2018.imbc.com/images/interest-top.jpg); font-size: 14px; color: #ffffff;}
.vote-body-result .popup-area-of-interest .button-save {margin-left: 30px;}
.vote-body-result .popup-area-of-interest .dropdown {margin-right: 8px;}
.vote-body-result .result-cont .rate-city {padding: 16px 102px; position: relative;}
.vote-body-result .result-cont .rate-city .candidate-search-filter .button-search {margin-left: 15px;}
.vote-body-result .result-cont .rate-interest .popup-area-of-interest {top: 64px; right: 26px;}
.vote-body-result .result-cont .rate-interest .popup-tooltip-interest-of-area {left: 190px;}
.vote-body-result .result-cont .rate-city .candidate-search-filter {padding: 22px 0 0 240px;}
.vote-body-result .result-cont .rate-city .candidate-search-filter .inter {display: inline-block; font-size: 16px; color: #000000; padding-left: 22px; line-height: 46px; font-family: "Nanum Gothic Bold"; background: url(https://vote2018.imbc.com/images/icon-my-area-of-interest.png) left 14px no-repeat;}
.vote-body-result .result-cont .rate-city .candidate-search-filter-item {margin-left: 18px;}
.vote-body-result .result-cont .rate-city .candidate-search-filter-item .dropdown {width: 297px;}
.vote-body-result .result-cont .rate-city .candidate-search-filter-item .dropdown .button-choose {width: 297px;}
.vote-body-result .result-cont .rate-city .candidate-search-filter-item .dropdown .list {width: 297px;}
.vote-body-result .result-cont .rate-city .candidate-search-filter .button-area-now {position: absolute; top: 23px; right: 28px; text-indent: -9999px; background: url(https://vote2018.imbc.com/images/btn-here.png) no-repeat; width: 100px; height: 45px; overflow: hidden;}
.vote-body-result .result-cont .rate-city .show-rate {padding: 44px 0 58px; text-align: center; font-size: 28px;}
.vote-body-result .result-cont .rate-table {margin-bottom: 30px;}
.vote-body-result .result-cont .rate-table th {line-height: 37px; border-bottom: 1px solid #dddee4; text-align: center; font-size: 13px; color: #333333; border-top: 1px solid #dddee4;}
.vote-body-result .result-cont .rate-table td {height: 50px; vertical-align: middle; color: #606060; font-size: 13px; border-bottom: 1px solid #dddee4; text-align: center;}
.vote-body-result .result-cont .rate-table td.first {text-align: center; font-family: "Nanum Gothic Bold"; color: #21232a;}
.vote-body-result .result-cont .rate-table td.now span {background: #623ba8; color: #fff; padding: 2px 5px 3px 4px;}
.vote-body-result .result-cont .notice {background: #f6f6f6; padding: 30px 33px; font-size: 14px; color: #606060;}
.vote-body-result .result-cont .notice ul {width: 1040px; overflow: hidden;}
.vote-body-result .result-cont .notice li {float: left; width: 520px; line-height: 28px;}
.vote-body-result .result-cont .notice li .tit {display: inline-block; height: 29px; padding-right: 10px; color: #623aa8; font-family: "Nanum Gothic Bold";}
.vote-body-result .result-cont .notice li.long {width: 700px;}

/*개표현황 - select / graph */
.vote-body-result .wrap-open .now-map .vote-select {width: 562px; float: right;}
.vote-body-result .wrap-open .now-map .vote-select .select-place {padding: 0 18px 0 25px; background: url(https://vote2018.imbc.com/images/open-gra-bg.jpg) repeat-y; font-size: 18px; color: #fff; line-height: 62px; overflow: hidden;}
.vote-body-result .wrap-open .now-map .vote-select .select-place span {display: inline-block;}
.vote-body-result .wrap-open .now-map .vote-select .select-place .data-place {float: left; background: url(https://vote2018.imbc.com/images/ico-location.png) left center no-repeat; padding-left: 20px;}
.vote-body-result .wrap-open .now-map .vote-select .select-place .data-rate {float: right; font-size: 14px; font-family: "Nanum Gothic Bold";}
.vote-body-result .wrap-open .now-map .vote-select .candidate-search-filter {padding: 18px 0 0 24px; height: 82px;}
.vote-body-result .wrap-open .now-map .vote-select .candidate-search-filter-item .dropdown {width: 286px;}
.vote-body-result .wrap-open .now-map .vote-select .candidate-search-filter-item .dropdown .button-choose {width: 286px; border: 1px solid #9a9a9a;}
.vote-body-result .wrap-open .now-map .vote-select .candidate-search-filter-item .dropdown .list {width: 286px;}
.vote-body-result .wrap-open .now-map .vote-select .candidate-search-filter .button-search-w {width: 100px; height: 45px; background: url(https://vote2018.imbc.com/images/btn-search-w.jpg) no-repeat; text-indent: -9999px; overflow: hidden; margin-left: 40px;}
.vote-body-result .wrap-open .now-map .vote-select .popup-area-of-interest {width: 562px;}
.vote-body-result .wrap-open .popup-area-of-interest .button-close {width: 40px; height: 40px; text-indent: -9999px; overflow: hidden; top: 20px; right: 18px;}
.vote-body-result .wrap-open .popup-area-of-interest .button-close:before {width: 40px; height: 40px; background: url(https://vote2018.imbc.com/images/button-close-popup.png);}
.vote-body-result .wrap-open .popup-area-of-interest .my-location {padding: 23px 0 40px 22px; margin-left: 22px; font-size: 16px; font-family: "Nanum Gothic Bold"; background: url(https://vote2018.imbc.com/images/icon-my-area-of-interest.png) left 24px no-repeat;}
.vote-body-result .wrap-open .now-map .rank-cont {overflow: hidden; background: #fff;}
.vote-body-result .wrap-open .now-map .cont-none {width: 364px; height: 462px; background: #f5f5f5; padding-top: 85px; font-size: 14px; line-height: 22px; color: #21232a; text-align: center; margin: 0 auto 35px; border: 1px solid #dddee4;}
.vote-body-result .wrap-open .now-map .rank-inner > ul > li {margin: 0 auto 30px 98px; position: relative; height: auto;}
.vote-body-result .wrap-open .now-map .wrap-rate {margin-bottom: 3px;}
.vote-body-result .wrap-open .now-map h3 {margin: 0;}
.vote-body-result .wrap-open .badge {display: inline-block; top: 0; left: 0; min-width: 34px; padding: 0 3px; height: 24px; border: 1px solid #5c279c; background: #fff; color: #5c279c; line-height: 22px;}
.vote-body-result .wrap-open .badge.winner {background: #ffe43e; color: #000; border: 1px solid #fdcf30;}
.vote-body-result .wrap-open .badge.badge1 {background: #fff; color: #af1c22; border: 1px solid #af1c22;}
.vote-body-result .wrap-open .badge.badge2 {background: #fff; color: #227ec8; border: 1px solid #227ec8;}
.vote-body-result .wrap-open .now-map .rival-l, .vote-body-result .wrap-open .now-map .rival-r {position: relative;}
.vote-body-result .wrap-open .now-map .rival-r .badge {background: rgba(0, 0, 0, .7); color: #fff; border: 0;}
.vote-body-result .wrap-open .now-map .rival-r .badge.winner {background: #ffe43e; color: #000; border: 1px solid #fdcf30;}
.vote-body-result .wrap-open .now-map .wrap-rank .rank-cont .rival-l .graph {bottom: -63px;}
.vote-body-result .wrap-open .now-map .wrap-rank .rank-cont .rival-r .graph {bottom: -63px;}
.vote-body-result .wrap-open .now-map .wrap-rank-tit {padding: 24px 0 15px; background: #fff; text-align: center;}
.vote-body-result .wrap-open .now-map .wrap-rank-tit .sort {font-size: 20px; font-family: "Nanum Gothic Bold";}
.vote-body-result .wrap-open .now-map .wrap-rank-tit .place {color: #606060; font-size: 14px; line-height: 30px;}
.vote-body-result .wrap-open .now-map .wrap-rank-tit .place .place-rate {color: #5d3bbc; padding-left: 6px; background: url(https://vote2018.imbc.com/images/right-bar.jpg) left 2px no-repeat; margin-left: 6px; font-family: "Nanum Gothic Bold";}
.vote-body-result .wrap-open .now-map .else {position: relative;}
.vote-body-result .wrap-open .now-map .else .else-center {position: absolute; left: 50%; width: 38px; text-align: center; margin-left: -2px;}
.vote-body-result .wrap-open .now-map .else .else-right {color: #6a2fb2;}
.vote-body-result .wrap-open .now-map .vote-area-items-all a {display: block; width: 70px; height: 70px; background: url(https://vote2018.imbc.com/images/map-korea.png) no-repeat; position: absolute; top: 140px; left: 26px; text-indent: -9999px; overflow: hidden; z-index: 100;}

/* 선거구분 */
.popup-area-of-interest {z-index: 9000; display: none; position: absolute; right: 20px; top: 75px; width: 548px; height: 444px; border: 1px solid #595959; background-color: #fff;}
.popup-area-of-interest.attached {display: block;}
.popup-area-of-interest .button-close {overflow: hidden; position: absolute; right: 11px; top: 13px; width: 40px; height: 40px;}
.popup-area-of-interest .button-close:before {content: ""; display: block; width: 40px; height: 40px; background: url("https://vote2018.imbc.com/images/button-close-popup.png") no-repeat;}
.popup-area-of-interest .filter {z-index: 100; position: relative; padding-left: 30px; margin-bottom: 12px; font-size: 0; text-align: left;}
.popup-area-of-interest .dropdown {position: relative; display: inline-block; width: 140px; height: 36px; margin-right: 2px; vertical-align: top; text-align: left; background-color: #fff;}
.popup-area-of-interest .dropdown .button-choose {display: block; width: 140px; height: 36px; border: 1px solid #9a9a9a; padding: 0 14px; text-align: left; font-size: 14px; color: #8e8e8e;}
.popup-area-of-interest .dropdown .button-choose:after {content: ""; position: absolute; right: 12px; top: 14px; width: 22px; height: 12px; background: url("https://vote2018.imbc.com/images/icon-dropdown.png") no-repeat;}
.popup-area-of-interest .dropdown .list {display: none; position: absolute; left: 0; top: 35px; width: 140px; background-color: #fff; border: 1px solid #9a9a9a;}
.popup-area-of-interest .dropdown .list.attached {display: block;}
.popup-area-of-interest .dropdown .list ul {overflow: hidden; overflow-y: auto; max-height: 204px; position: relative;}
.popup-area-of-interest .dropdown .list li:first-child button {border-top: 0;}
.popup-area-of-interest .dropdown .list button {display: block; width: 100%; height: 34px; padding: 0 14px; border-top: 1px solid #9a9a9a; text-align: left;}
.popup-area-of-interest .list-area-of-interest {overflow: hidden; position: relative; padding: 0 30px; margin-bottom: 37px;}
.popup-area-of-interest .list-area-of-interest li {position: relative; height: 42px; line-height: 41px; border-bottom: 1px solid #e7eaf0;}
.popup-area-of-interest .list-area-of-interest a {position: relative; display: inline-block; padding: 0 0 0 11px; font-size: 14px; font-weight: 700; color: #5a5a5a;}
.popup-area-of-interest .list-area-of-interest a:before {content: "*"; position: absolute; left: 0; top: 0;}
.popup-area-of-interest .list-area-of-interest a:hover {color: #5d3bbc;}
.popup-area-of-interest .list-area-of-interest a:hover:after {content: ""; display: block; position: absolute; left: 0; width: 100%; height: 1px; bottom: 9px; background-color: #5d3bbc;}
.popup-area-of-interest .guide {padding: 0 30px; font-size: 14px; color: #757575;}
.popup-area-of-interest .button-save {display: inline-block; vertical-align: top; width: 55px; height: 36px; font-size: 14px; font-weight: 700; color: #fff; background-color: #623ba8;}
.popup-area-of-interest .popup-header {height: 66px; padding: 0 30px; line-height: 65px; font-size: 18px; font-weight: 700; color: #1a1a1a; border-bottom: 1px solid #dbdbdb;}
.popup-area-of-interest .popup-body {padding-top: 12px;}
.candidate-search-filter {z-index: 100; position: relative; height: 88px; padding: 20px 0 0 24px; background-color: #f2f2f2; text-align: left; font-size: 0;}
.candidate-search-filter .button-search {display: inline-block; vertical-align: top; width: 100px; height: 45px; margin-left: 6px; background-color: #623aa8; font-size: 16px; color: #fff;}
.candidate-search-filter .button-search:after {content: ""; display: inline-block; vertical-align: top; width: 20px; height: 20px; margin-left: 4px; background: url("https://vote2018.imbc.com/images/icon-search.png") no-repeat;}
.candidate-search-filter .button-area-of-interest {position: absolute; right: 20px; top: 20px; width: 139px; height: 45px; padding-left: 40px; border: 1px solid #623aa8; font-size: 14px; font-weight: 700; text-align: left; color: #5d3bbc; padding-right: 13px;}
.candidate-search-filter .button-area-of-interest:before {content: ""; position: absolute; left: 23px; top: 16px; width: 10px; height: 10px; background: url("https://vote2018.imbc.com/images/icon-plus.png") no-repeat;}
.candidate-search-filter-item {display: inline-block; margin-left: 34px; vertical-align: top; font-size: 0;}
.candidate-search-filter-item:first-child {margin-left: 0;}
.candidate-search-filter-item div.header {display: inline-block; height: 45px; margin-right: 12px; padding-top: 12px; font-size: 16px; color: #000; font-weight: normal; font-family: "Nanum Gothic Bold"; vertical-align: top;}
.candidate-search-filter-item .dropdown {position: relative; display: inline-block; width: 184px; height: 45px; vertical-align: top; text-align: left; background-color: #fff;}
.candidate-search-filter-item .dropdown .button-choose {display: block; width: 184px; height: 45px; border: 1px solid #9a9a9a; padding: 0 14px; text-align: left; font-size: 14px; color: #8e8e8e;}
.candidate-search-filter-item .dropdown .button-choose:after {content: ""; position: absolute; right: 13px; top: 17px; width: 22px; height: 12px; background: url("https://vote2018.imbc.com/images/icon-dropdown.png") no-repeat;}
.candidate-search-filter-item .dropdown .list {display: none; position: absolute; left: 0; top: 44px; width: 184px; background-color: #fff; border: 1px solid #9a9a9a;}
.candidate-search-filter-item .dropdown .list.attached {display: block;}
.candidate-search-filter-item .dropdown .list ul {overflow: hidden; overflow-y: auto; max-height: 129px; position: relative;}
.candidate-search-filter-item .dropdown .list li:first-child button {border-top: 0;}
.candidate-search-filter-item .dropdown .list button {display: block; width: 100%; height: 43px; padding: 0 14px; border-top: 1px solid #9a9a9a; text-align: left;}
.candidate-search-result {overflow: hidden; position: relative;}
.candidate-search-result.searching div.headers {padding-top: 86px;}
.candidate-search-result.searching .text {font-size: 16px; color: #1a1a1a;}
.candidate-search-result.searching .text strong {color: #5d3bbc;}
.candidate-search-result.searching .text.not-found strong {color: #1a1a1a;}
.candidate-search-result .location {position: absolute; right: 0; top: 84px; font-size: 0;}
.candidate-search-result .location-item {position: relative; display: inline-block; margin-left: 10px; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.candidate-search-result .location-item.setup {padding-top: 6px; font-size: 0;}
.candidate-search-result .location-item.my-location {padding: 0 0 0 13px; margin-left: 16px;}
.candidate-search-result .location-item.my-location:before {content: ""; display: block; position: absolute; left: 0; top: 9px; width: 2px; height: 14px; background-color: #e1e1e1;}
.candidate-search-result .location-item .area {display: inline-block; position: relative; margin-left: 2px; padding-left: 9px; font-size: 14px; color: #3a3a3a; vertical-align: top;}
.candidate-search-result .location-item .area:before {content: ""; display: block; position: absolute; left: 0; top: 3px; width: 7px; height: 13px; background: url("https://vote2018.imbc.com/images/icon-location-arrow.png") no-repeat;}
.candidate-search-result .location-item .area:first-child {margin-left: 0; padding-left: 0;}
.candidate-search-result .location-item .area:first-child:before {display: none;}
.candidate-search-result .location-item .button-my-location {position: relative; height: 30px; padding-left: 24px; font-size: 14px; color: #757575;}
.candidate-search-result .location-item .button-my-location:before {content: ""; display: block; position: absolute; left: 0; top: 6px; width: 19px; height: 19px; background: url("https://vote2018.imbc.com/images/icon-my-location.png") no-repeat;}
.candidate-search-result .location-item .button-my-location.active, .candidate-search-result .location-item .button-my-location:hover {color: #5d3bbc;}
.candidate-search-result .location-item .button-my-location.active:before, .candidate-search-result .location-item .button-my-location:hover:before {background-image: url("https://vote2018.imbc.com/images/icon-my-location2.png");}
.candidate-search-result .button-interest {display: block; position: relative; height: 30px; padding-left: 20px; font-size: 14px; font-weight: 700; color: #757575;}
.candidate-search-result .button-interest:before {content: ""; display: block; position: absolute; left: 0; top: 6px; width: 17px; height: 17px; margin-right: 3px; background: url("https://vote2018.imbc.com/images/icon-area-of-interest2.png") no-repeat;}
.candidate-search-result div.headers {height: 128px; padding-top: 45px; border-bottom: 2px solid #3a3a3a;}
.candidate-search-result h2.header {margin-bottom: 10px; font-size: 24px; color: #1a1a1a;}
.candidate-search-result .subtitle {margin-left: 10px; font-weight: 400;}
.candidate-search-result .extra {font-size: 0;}
.candidate-search-result .extra .item {display: inline-block; position: relative; padding-left: 19px; margin-left: 21px; vertical-align: top; font-size: 16px; color: #5a5a5a;}
.candidate-search-result .extra .item:before {content: ""; position: absolute; left: 0; top: 4px; width: 2px; height: 14px; background-color: #cbcbcb;}
.candidate-search-result .extra .item:first-child {margin-left: 0; padding-left: 0;}
.candidate-search-result .extra .item:first-child:before {display: none;}
.candidate-search-result .extra .area {color: #1a1a1a;}

/*대통령 선거 건 지도, 우측 상단 셀렉트 관련 부분 추가 Area Start*/
.now-count-time {text-align: center; position: absolute; top: 25px; left: 25px;}
.select-district {float: right; margin-bottom: 10px;}
.select-district .data-place {display: inline-block; font-weight: bold; color: #555; width: 80px; height: 24px; line-height: 24px; text-align: center;}
.select-district .data-place a {display: block; color: #555; position: relative;}
.select-district .data-place a span {position: absolute; top: 0; right: 0;}
.select-district .select-city ul.select-list-bx {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
.select-district .select-city ul.select-list-bx li {cursor:default; text-align: center;}
.select-district .select-city ul.select-list-bx li.select-bx {float: left; position: relative; width: 80px; height: 24px; line-height: 24px; z-index: 999; background: #fff;}
.select-district .select-city ul.select-list-bx li.select-bx .vote-area-list li {background: #fff; text-align: center;}
.select-district .select-city ul.select-list-bx li.select-bx .select-top {font-weight: bold; position: relative; cursor: pointer;}
.select-district .select-city ul.select-list-bx li.select-bx .select-top > span {position: absolute; top: 0; right: 0;}
.select-district .select-button {width: 50px; color: #555; font-weight: bold; text-align: center; border: 1px solid #555; padding: 4px 0;}
.select-district .data-place, .select-district .select-city, .select-district .select-button {float: left;}

/* 우측 셀럭터 시·도 */
.vote-body-result .wrap-open .now-map .vote-map a {cursor: default;}
.vote-body-result .wrap-open .vote-area-items .btn-default:hover {color: #000; background: none;}
.vote-body-result .wrap-open li.select-bx .vote-area-items {position: static; font-weight: normal;}
.vote-body-result .wrap-open ul.select-list-bx li.select-bx .vote-area-items:hover {background: #f00;}
.vote-body-result .wrap-open li.select-bx .vote-area-items:hover a {color: #fff; background: #f00;}
.vote-body-result .wrap-open li.select-bx .vote-area-items .btn-default {font-family: 'Nanum Gothic'; display: block;}
.vote-body-result .wrap-open li.select-bx .vote-area-items .btn-default:hover {color: #fff; background: #f00; font-weight: normal;}
.vote-body-result .wrap-open li.select-bx .vote-area-items-all .vote-area-items-body {display: block;}
.vote-body-result .wrap-open li.select-bx .vote-area-items-all .vote-area-items-body a {display: inline; background: none; position: static; overflow: unset; width: inherit; height: inherit;}

/* 우측 셀럭터 구·시·군 */
.vote-body-result .wrap-open .area-gu-items .area-gu:hover {color: #000; background: none; font-weight: bold;}
.vote-body-result .wrap-open li.select-bx .area-gu-list .area-gu-items {position: static; background: #fff; font-weight: normal;}
.vote-body-result .wrap-open li.select-bx .area-gu-list .area-gu-items:hover {background: #f00;}
.vote-body-result .wrap-open li.select-bx .area-gu-list .area-gu-items:hover a {color: #fff}
.vote-body-result .wrap-open li.select-bx .area-gu-list .area-gu-items .area-gu:hover {color: #fff; font-weight: normal; background: none; display: block;}
.vote-body-result .wrap-open li.select-bx .area-gu-list .area-gu-items a {font-weight: normal; display: block;}

/* 우측 셀럭터 읍·면·동 */
.vote-body-result .wrap-open .select-dong .area-dong-body li button {float: unset; width: 80px; margin: unset; border: none; font-family: "Nanum Gothic"; display: inline-block; padding: 0; margin: 0; line-height: 18px; font-size: 11px;}
.vote-body-result .wrap-open .select-dong .area-dong-body li button:hover {color: #fff; background: #f00;}

.candidate-search-filter {border: 1px solid #9a9a9a; border-top: none; border-bottom: none;}
.candidate-hubolist {border: 1px solid #9a9a9a; border-top: none;}
/*대통령 선거 건 지도, 우측 상단 셀렉트 관련 부분 추가 Area End*/
